.react-parallax-content {
  color: var(--thirdColor);
  text-align: center;
}
#singleProject {
  max-height: 80vh;
  overflow-y: auto;
  background: var(--secondaryColor);
  border: var(--border);
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
}
#singleProject::-webkit-scrollbar {
  width: 10px;
}
/* Track */
#singleProject::-webkit-scrollbar-track {
  border: 1px solid rgba(119, 119, 119, 0.486);
  border-radius: 10px;
}
#singleProject::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 10px;
}

.project-Name {
  color: var(--primaryColor) !important;
}
.backBtn {
  position: absolute;
  cursor: pointer;
  font-size: 14px;
  color: var(--blue);
  margin-top: 5px;
}
.backBtn:hover {
  color: #fff;
}
.projectTitle {
  color: var(--thirdColor);
  font-size: 16px;
}
.projectTitle span {
  color: var(--text);
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}
.projectImgClass {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* others projects */
.othersProjects {
  margin: 15px 0;
  border-radius: 5px;
}
.mp-title {
  color: #a5a9c0;
  margin: 15px 0;
  font-weight: 400;
}
.MoreProjects {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 7px 0;
}
.IndiVidualProjects {
  width: 100%;
  height: 100px;
  border-radius: 6px;
  border: 1px solid rgb(68 73 74 / 65%);
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  object-fit: cover;
}
.IndiVidualProjects:hover {
  opacity: 1;
  border-color: var(--primaryColor);
}
.IvpActive {
  opacity: 1;
  border-color: var(--primaryColor);
}
/* tool-tip */
.myTooltip {
  position: relative;
}
.myTooltip::before {
  content: attr(tooltip-text);
  position: absolute;
  width: fit-content;
  background: rgb(3 7 10 / 50%);
  border: 1px solid rgb(221 221 221 / 10%);
  backdrop-filter: blur(20px);
  padding: 9px 15px;
  color: white;
  font-size: 12px;
  font-family: arial;
  font-weight: 300;
  border-radius: 5px;
  top: 22%;
  z-index: 1000;
  left: 105%;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 23%);
}
.myTooltip::before {
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.1s;
}
.myTooltip:hover::before {
  opacity: 1;
  transform: translateX(0px);
}
/* tool-tip */

@media only screen and (max-width: 767px) {
  .myTooltip::before {
    display: none;
  }
  .MoreProjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
  }
  .IndiVidualProjects {
    margin-bottom: 0px;
  }
}
