.formWrapper {
  min-height: 50vh;
  color: var(--thirdColor);
}
.ContactForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
.input {
  padding: 7px 10px;
  background: none;
  border: 1px solid var(--text);
  color: var(--text);
  border-radius: 3px;
}
.input:focus {
  outline: none;
}
.contactTextArea {
  grid-column: 1/-1;
  min-height: 150px;
  max-height: 200px;
}
.contactBtn {
  border: none;
  background-color: var(--primaryColor);
  padding: 10px;
  border-radius: 3px;
  color: rgb(43, 40, 40);
  font-weight: 500;
  transition: 0.3s;
  font-size: 14px;
}
.contactBtn:hover {
  background-color: #fce4ec;
}
.texting {
  font-weight: 500;
  color: var(--primaryColor);
}
@media only screen and (max-width: 967px) {
  .ContactForm {
    grid-template-columns: 1fr;
  }
}
