.landing {
  height: 100vh;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 158vh;
  background: var(--primaryColor);
  top: -78%;
  left: -58%;
  border-radius: 50%;
  filter: blur(200px);
  opacity: 0.3;
}
.react-parallax-bgimage {
  width: initial !important;
  height: initial !important;
}
.landingContent {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  /* background: linear-gradient(
    248deg,
    var(--bodyBG),
    transparent,
    var(--primaryColor)
  ); */
}
.landingContent h6 {
  font-family: "Marck Script", cursive;
  font-size: 1.5rem;
}
.landingContent h5 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 300;
}
.landingContent h1 {
  font-weight: 100;
  letter-spacing: 5px;
  font-size: 3.5rem;
}
.landingContent p {
  font-weight: 400;
  letter-spacing: 7px;
  color: #ddd;
}
.custom-btn {
  background: rgb(0 0 0 / 56%);
  border-radius: 20px;
  border: 1px solid;
  color: var(--primaryColor);
  padding: 7px 32px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 20px;
  transition: 0.2s;
}
.custom-btn:hover {
  box-shadow: 0px 0px 10px var(--primaryColor);
}

.myProject {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 130px);
  align-items: center;
  text-align: center;
  grid-gap: 7px;
  /* transform: perspective(600px) rotateX(10deg); */
}
.myProject a,
.portfolio {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #454544;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 7px;
  transition: 0.2s;
}
.portfolio:hover,
.myProject a:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px var(--primaryColor);
  transform: scale(1.01);
  color: var(--text);
}
.ISP {
  background: var(--primaryColor);
  grid-column: 1/-2;
  color: #2b2e3c !important;
}
.ecommerce {
  background: var(--secondaryColor);
}
.E-commerce-grid {
  grid-column: 2/-1;
}
.blog {
  background: var(--secondaryColor);
}
.dashboard {
  background: var(--secondaryColor);
}
.portfolio {
  background: var(--secondaryColor);
}
.skillSectionBG {
  border-radius: 10px;
  /* filter: hue-rotate(45deg); */
}
.skillsSection {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--secondaryColor);
  grid-gap: 10px;
  padding: 20px;
  border-radius: 10px;
}
.frontEnd {
  text-align: right;
  padding-right: 10px;
}
.frontEnd h4,
.backEnd h4 {
  font-size: 16px;
  color: var(--primaryColor);
  font-weight: 500;
  letter-spacing: 0.3px;
}
.webTag {
  position: relative;
}
.webTag::before {
  content: "<";
  position: absolute;
  left: -50px;
  color: var(--thirdColor);
}
.webTag::after {
  content: "/>";
  position: absolute;
  right: -80px;
  color: var(--thirdColor);
  letter-spacing: 0px;
}
.frontEnd p,
.backEnd p {
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #ddd;
}
.backEnd {
  padding-left: 18px;
  border-left: 1px solid var(--thirdColor);
}
.gotoAboutSection {
  width: 100%;
  text-align: center;
}
.aboutBtn {
  color: var(--text);
  margin-top: 50px;
  font-weight: 500;
  background: none;
}
.aboutBtn:hover {
  color: var(--primaryColor);
}

/* responsive design */
@media only screen and (max-width: 967px) {
  .landing::before {
    height: 110vh;
    top: -92%;
    left: -51%;
    opacity: 0.8;
  }
  .webTag {
    font-size: 2rem !important;
  }
  .webTag::before {
    left: -25px;
  }
  .webTag::after {
    right: -30px;
  }
  .myProject {
    transform: initial;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 130px);
  }
  .ISP {
    grid-column: 1/-1;
  }
}
