.sectionTitle {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: var(--text);
  font-size: 18px;
  letter-spacing: 1px;
  padding: 100px 0 30px 0;
  font-weight: 500;
  position: relative;
}
.sectionTitle::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: var(--thirdColor);
  top: 72%;
  left: -70%;
}
.sectionTitle::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: var(--thirdColor);
  top: 72%;
  right: -70%;
}

/* about, contact etc. background  */
.commonBackground {
  height: 250px;
  display: flex;
  align-items: center;
  padding-top: 22px;
  justify-content: center;
}
.commonBackground h2 {
  color: #676f7f;
  font-weight: 500;
  font-size: 5rem;
}
/* responseive design */
@media only screen and (max-width: 967px) {
  .sectionTitle::before {
    left: 17%;
  }
  .sectionTitle::after {
    right: 17%;
  }
  .commonBackground h2 {
    font-size: 4rem;
    margin-top: 10px;
  }
}
