@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:wght@100;300;400;500&display=swap");
:root {
  /* --primaryColor: #fb3858; */
  --primaryColor: #b9ff00;
  --blue: #3498db;
  --projectBg: #282a36;
  --secondaryColor: #32323e;
  --thirdColor: #7c869b;
  --bodyBG: #191a25;
  --text: #f2f2f2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Marck Script", cursive; */
  font-family: "Roboto", sans-serif;
}
body {
  background: var(--bodyBG) !important;
}
.active {
  color: var(--primaryColor) !important;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none !important;
}
h2 {
  color: var(--text);
}
p {
  color: var(--text);
}
hr {
  background: var(--text) !important;
}
.btn-danger {
  background: var(--primaryColor) !important;
  border: none !important;
  color: var(--bodyBG) !important;
  font-size: 14px !important;
  padding: 5px 14px !important;
  font-weight: 500 !important;
}
.btn-danger:hover {
  filter: contrast(2);
}
