@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap");
:root {
  /* --primaryColor: #fb3858; */
  --primaryColor: #ff0071ce;
  --blue: #009eff;
  --projectBg: #282a36;
  --secondaryColor: #32323e;
  --at: rgba(17, 17, 17, 0.788);
  --thirdColor: #a4a5af;
  --bodyBG: #191a25;
  --text: #f2f2f2;
}
/* 
font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: var(--bodyBG) !important;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 500px;
  background: var(--primaryColor);
  border-radius: 50%;
  filter: blur(200px);
  top: 70%;
  z-index: 0;
  left: 120px;
  opacity: 0.4;
}
body::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 500px;
  background: var(--primaryColor);
  border-radius: 50%;
  filter: blur(200px) hue-rotate(256deg);
  top: 30%;
  z-index: 0;
  right: 0px;
  opacity: 0.4;
}
.active {
  color: var(--primaryColor) !important;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none !important;
}
h2 {
  color: var(--text);
}
p {
  color: var(--text);
}
hr {
  background: var(--text) !important;
}
.btn-danger {
  background: var(--primaryColor) !important;
  border: none !important;
  color: var(--bodyBG) !important;
  font-size: 14px !important;
  padding: 5px 14px !important;
  font-weight: 500 !important;
}
.btn-danger:hover {
  filter: contrast(2);
}
.container {
  z-index: 10;
  position: relative;
}

@media only screen and (max-width: 767px) {
  body::before {
    width: 200px;
    top: 70%;
  }
  body::after {
    width: 400px;
    top: 23%;
  }
}
