.navSection {
  width: 100%;
  padding: 7px;
  position: fixed;
  background: none;
  z-index: 100;
}
.hideMenu {
  display: none;
}
.secondNav {
  transition: 0.3s;
  background: var(--secondaryColor);
  box-shadow: 0px 0px 10px #00000057;
}
.Logo {
  color: var(--primaryColor);
  font-size: 1.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 8px;
  font-weight: 400;
}
.Logo strong {
  font-weight: 400;
  color: white;
}
.navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation li a {
  color: #9ba3b6;
  font-weight: 500;
  transition: 0.3s;
}
.navigation li a:hover {
  color: var(--primaryColor);
}
.redBg {
  background-color: #ff692f;
}
.greenBg {
  background-color: #b9ff00;
}
.blueBg {
  background-color: #00c0ff;
}
.purpleBg {
  background-color: #9d44f5;
}
.yellowBg {
  background-color: #f1c40f;
}
/* settings */
.settingsSilder {
  position: fixed;
  top: 45%;
  left: 0;
  background: none;
  width: 80px;
  text-align: right;
  opacity: 0.8;
  transition: 0.3s;
  
}
.settingsSilder:hover {
  opacity: 1;
}
.settingsSilder button {
  padding: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.486);
  background: var(--secondaryColor);
  color: var(--primaryColor);
  font-size: 1.4rem;
  border: none;
  animation: Rotate 10s linear infinite;
}
.settingsSilder button:hover {
  animation:none;
}   
@keyframes Rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.settings {
  width: 300px;
  height: 100vh;
  border-right: 1px solid #4f4f52;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  backdrop-filter: blur(10px);
  background: #ffffff17;
  transition: 0.3s cubic-bezier(0.51, 1.21, 1, 1);
  transform: translateX(-310px);
  box-shadow: 0px 20px 30px #0000003a;
  z-index: 100;
}
.showSetting {
  transform: initial;
}
.hideSetting {
  position: absolute;
  top: 45%;
  right: 0;
  padding: 10px;
  color: var(--primaryColor);
  background: none;
  border: none;
  font-size: 1.5rem;
}
.settingsTitle {
  color: var(--text);
}
.colorTitle {
  color: var(--thirdColor);
}
.primaryColorChage {
  display: flex;
}
.colorBtn {
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-radius: 4px;
  margin-right: 5px;
}

@media only screen and (max-width: 767px) {
  .settingsSilder {
    top: unset;
    bottom: 30px;
    left: -18px;
  }
  .navigation {
    width: 60%;
    background: var(--secondaryColor);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid #37373f;
    padding-top: 10%;
  }
  .hideNav {
    display: none !important;
  }
  .showNav {
    display: block !important;
  }
  .navigation li {
    padding-bottom: 15px;
    padding-left: 20%;
  }
  .hideNavigation {
    position: fixed;
    width: 40%;
    height: 100vh;
    background-color: rgb(0 0 0 / 12%);
    top: 0;
    right: 0;
    backdrop-filter: blur(2px);
  }
  .secondNav {
    border-bottom: 1px solid #dddddd1c;
  }
  .navSection {
    padding: 0 10px;
  }
  .hideMenu {
    display: block;
  }
  .menubar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 3px 0;
  }
  .menubar button {
    background: none;
    border: none;
    color: var(--text);
    margin-top: -4px;
  }
  .Logo {
    padding: initial;
  }
  .react-parallax-bgimage {
    left: 130% !important;
  }
  .navigation li a {
    font-size: 14px;
  }
}
